$site-width: 1440px;
$container-width: 1270px;
$container-padding: 15px;
$font-stack: 'Poppins', sans-serif;
$main-color: #0f1f1c;
$second-color: #0f1f1c80;
$accent-color: #ff7c4e;
$white-color: #fff;
$header-descr-color: #ffffff80;
$link-hover-elem-color: #c4c4c4;
$form-input-color: #f0f0f0;
$bg-gradient: linear-gradient(154deg, #428e5f 0%, #112120 100%);
$btn-gradient: linear-gradient(334deg, #ff7b4e 0%, #ff584e 100%);
$btn-gradient-hover: linear-gradient(237deg, #ff7b4e 0%, #ff584e 100%);
$btn-text-color: #fefefe;
$transition: all 0.5s ease-in-out;
