@media screen and (max-width: 1200px) {
  .container {
    &_right {
      padding: 0 0 0 $container-padding;
    }
  }

  .header {
    min-height: 800px;

    &__title {
      font-size: 44px;
    }
  }

  .title {
    &_destinations {
      & span {
        font-size: 45px;
      }
    }
  }

  .destinations {
    &__content {
      flex: 0 0 350px;
    }

    &__carousel {
      flex: 1 0 calc(100% - 350px);
    }
  }

  .slider {
    &__nav {
      &_next {
        right: 63px;
      }
    }
  }

  .customers {
    margin-top: 150px;
  }

  .discount {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 750px;

    &__content {
      padding-bottom: 30px;
    }

    &__title {
      font-size: 40px;
    }

    &__descr {
      font-size: 20px;
    }

    &__img {
      & img {
        top: -40px;
        width: 750px;
      }
    }

    &__decor {
      &:nth-child(1) {
        top: 60px;
        right: 0;
        width: 48px;
        height: 63px;
        transform: rotatey(180deg);
      }

      &:nth-child(2) {
        bottom: 40px;
        left: -175px;
        width: 63px;
        height: 83px;
      }

      &:nth-child(3) {
        top: -20px;
        right: 130px;
        width: 157px;
        fill: none;
        stroke: #4e887a;
      }
    }
  }

  .btn {
    &_header {
      margin-bottom: 30px;
    }
  }

  .nav {
    &__list {
      gap: 40px;
    }
  }

  .swiper-slide {
    height: 360px;

    &-active {
      width: 300px !important;
      height: 416px;
    }
  }

  .customers {
    &__img {
      flex: 0 0 40%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .review {
    &__descr {
      margin-top: 40px;
    }

    &__rating {
      margin-top: 20px;

      & img {
        width: 34px;
      }
    }
  }

  .title {
    &_subscribe {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    &_right {
      padding: 0 $container-padding;
    }
  }
  .header {
    min-height: 610px;

    &__content-wrapper {
      margin-top: 40px;
    }

    &__title {
      font-size: 32px;
    }

    &__descr {
      font-size: 18px;
    }

    &__img {
      & img {
        top: -20px;
        right: -135px;
        width: 660px;
      }
    }

    &__decor {
      display: none;
    }
  }

  .nav {
    &__list {
      display: none;
    }

    &__login {
      display: none;
    }

    &__toggle {
      display: flex;
      right: 15px;
    }

    &_footer {
      flex-direction: column;
      gap: 30px;

      & .nav__logo {
        order: 1;
      }

      & .nav__list {
        display: flex;
        order: 0;
      }
    }
  }

  .destinations {
    margin-top: 80px;

    &__wrapper {
      flex-direction: column;
      gap: 30px;
    }

    &__content {
      flex: 1 0 100%;
      max-width: 100%;
    }

    &__descr {
      font-size: 20px;
    }

    &__carousel {
      flex: 0 0 400px;
    }
  }

  .swiper {
    &-wrapper {
      justify-content: start;
    }

    &-slide {
      height: 300px;

      &-active {
        width: 300px !important;
        height: 400px;
      }
    }
  }

  .slider {
    &__nav {
      &_next {
        right: 10px;
      }
    }
  }

  .customers {
    margin-top: 100px;

    &__wrapper {
      gap: 30px;
    }

    &__img {
      flex: 0 0 40%;
      align-content: center;
    }
  }

  .review {
    &__info {
      margin-top: 20px;
      gap: 20px;
    }

    &__name {
      font-size: 22px;
    }

    &__geo {
      font-size: 16px;
    }

    &__descr {
      margin-top: 20px;
      font-size: 18px;
    }

    &__avatar {
      width: 100px;
      height: 100px;
    }

    &__rating {
      & img {
        width: 24px;
      }
    }
  }

  .discount {
    margin-top: 100px;

    &__wrapper {
      padding: 50px;
    }

    &__subtitle {
      font-size: 26px;
    }

    &__decor-wrapper {
      top: 34px;
      left: 34px;
      right: 34px;
      bottom: 36px;
    }

    &__decor {
      position: absolute;
      fill: #ffbda7;
      width: 43px;
      height: 63px;
    }
  }

  .subscribe {
    margin-top: 100px;

    &__wrapper {
      padding: 50px;
    }

    &__subtitle {
      font-size: 26px;
    }
  }

  .btn {
    &_header {
      margin-top: 50px;
      padding: 24px 44px;
      font-size: 20px;
    }

    &_destination {
      margin-top: 40px;
    }

    &_discount {
      margin-top: 40px;
    }
  }

  .title {
    font-size: 36px;

    &_destinations {
      font-size: 26px;

      & span {
        font-size: 40px;
      }
    }

    &_subscribe {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 488px;

    &__badge {
      padding: 11px 20px;
      font-size: 16px;
      font-weight: 400;
    }

    &__content-wrapper {
      margin-top: 20px;
    }

    &__title {
      margin-top: 20px;
      font-size: 20px;
    }

    &__descr {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
    }

    &__img {
      & img {
        top: 0;
        right: -180px;
        width: 500px;
      }
    }
  }

  .destinations {
    margin-top: 50px;

    &__descr {
      font-size: 16px;
    }

    &__carousel {
      flex: 0 0 300px;
    }
  }

  .swiper {
    &-slide {
      height: 250px;

      &-active {
        // width: 210px !important;
        // width: calc((100% - 20px) / 3) !important;
        width: 100% !important;
        height: 300px;
      }
    }
  }

  .customers {
    margin-top: 80px;

    &__img {
      display: none;
    }
  }

  .review {
    align-items: center;

    &__info {
      gap: 30px;
    }

    &__name {
      font-size: 22px;
    }

    &__geo {
      font-size: 16px;
    }

    &__descr {
      font-size: 16px;
      text-align: center;
    }

    &__avatar {
      width: 150px;
      height: 150px;
    }

    &__rating {
      & img {
        width: 24px;
      }
    }
  }

  .discount {
    margin-top: 80px;

    &__wrapper {
      border-radius: 30px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__decor-wrapper {
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    }

    &__decor {
      position: absolute;
      fill: #ffbda7;
      width: 33px;
      height: 53px;
    }
  }

  .subscribe {
    margin-top: 80px;
  }

  .form {
    & input {
      font-size: 16px;
    }

    &_subscribe {
      max-width: 100%;
      margin: 40px auto 0;
      padding: 16px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 30px;

      & input {
        // margin-top: 10px;
        width: 100%;
        padding: 20px 10px;
        text-align: center;
        border-radius: 27px;
        background-color: $form-input-color;
      }
    }
  }

  .footer {
    padding-top: 80px;
  }

  .title {
    font-size: 30px;

    &_destinations {
      font-size: 22px;

      & span {
        font-size: 32px;
      }
    }

    &_customers {
      text-align: center;
    }

    &_subscribe {
      font-size: 32px;
    }
  }

  .btn {
    &_header,
    &_destination,
    &_discount,
    &_subscribe {
      margin-top: 30px;
      padding: 20px 40px;
      font-size: 16px;
    }

    &_subscribe {
      width: 100%;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 445px) {
  .header {
    &__img {
      & img {
        top: -0;
        right: -230px;
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 430px;

    &__content-wrapper {
      flex-direction: column;
    }

    &__title {
      font-size: 18px;
    }

    &__descr {
      margin-top: 15px;
    }

    &__img {
      & img {
        top: -375px;
        right: -207px;
        width: 449px;
      }
    }
  }

  .nav {
    &_footer {
      flex-direction: column;
      gap: 30px;

      & .nav__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        order: 0;
      }
    }
  }

  .destinations {
    margin-top: 50px;

    &__carousel {
      flex: 0 0 275px;
    }
  }

  .swiper {
    &-slide {
      height: 275px;

      &-active {
        width: 275px !important;
        height: 275px;
      }
    }
  }

  .slider {
    &__nav {
      opacity: 1;
    }
  }

  .review {
    &__info {
      gap: 20px;
    }

    &__name {
      font-size: 20px;
    }

    &__avatar {
      flex: 1 0 120px;
      width: 120px;
      height: 120px;
    }
  }

  .discount {
    &__wrapper {
      padding: 30px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__decor-wrapper {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }

    &__decor {
      position: absolute;
      fill: #ffbda7;
      width: 23px;
      height: 43px;
    }
  }

  .form {
    &_subscribe {
      max-width: 100%;
      margin: 30px auto 0;
      padding: 16px;
    }
  }

  .btn {
    &_slider-nav {
      width: 38px;
      height: 38px;
    }
  }

  .title {
    font-size: 22px;
  }
}
